<% unless current_user?(@user) %>
  <% if current_user.following?(@user) %>
    <div class="basic-info-item">
      <%= link_to "フォローを外す", user_relationship_path(@user.id), method: :delete, class:"basic-info-item" %>
    </div>
  <% else %>
    <div class="basic-info-item">
      <%= link_to "フォローする", user_relationships_path(@user.id), method: :post, class:"basic-info-item" %>
    </div>
  <% end %>
<% end %>