<div class="basic-info">
  <a href="/users/<%= @user.id %>/followings" class="basic-info-item">フォロー中 <%= @user.followings.count %>人</a>
  <a href="/users/<%= @user.id %>/followers" class="basic-info-item">フォロワー <%= @user.followings.count %>人</a>
</div>

