<p>調べる</p>
<label for="ocuupation">職種を検索</label>
<select name="example">
  <option value="選択肢1">選択肢1</option>
  <option value="選択肢2">選択肢2</option>
  <option value="選択肢3">選択肢3</option>
</select>
<input type="button" value="検索">

<p>新着投稿</p>

<p>user post</p>