<h1>投稿に対するコメント</h1>
<p>コメントに対するコメント機能</p>
<p>送信したら、投稿ページに戻る</p>
<ul>
  <li><a href="#">post1</a></li>
  <li><a href="#">post2</a></li>
  <li><a href="#">post3</a></li>
  <li><a href="#">post4</a></li>
</ul>