<footer class="p-3 mb-2 text-center bg- col-12 col-md-12">
  <div>

    <%= link_to 'プライバシーポリシー', page_path('policy') %>
    <%= link_to '利用規約', page_path('terms') %>

    <p>© daijobso All Rights Reserved.</p>
  </div>
</footer>