<footer class="p-3 mb-2 bg-info text-white col-12 col-md-12">
  <div>
    <p>ここはフッターです</p>
    <%= link_to 'プライバシーポリシー', page_path('policy') %>
    <%= link_to '利用規約', page_path('terms') %>
  </div>
</footer>